

<div class="image-setting">
<section id="register">
  <div class="container">
      <div class="inner-register">

        <% provide(:title, "Log in") %>
        <center><h1>Log in</h1></center>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= form_for(@user, url: login_path) do |f| %>
    
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :password %>
          <%= f.password_field :password_digest, class: 'form-control' %>
          <%= f.submit "Log in", class: "btn btn-primary" %>
          <p>New user? <%= link_to "Sign up now!", register_path %></p>
        <% end %>
        
</div>
</div>
</section>
</div>
