
<div class="image-setting">
<section id="register">
  <div class="container">
      <div class="inner-register">
        <% provide(:title, 'Sign up') %>
        <center><h1>Sign Up For Free</h1></center>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                The form contains <%= @user.errors.count %> error.
              </div>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        
          <%= form_for(@user, url: register_path) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name , class: 'form-control'%>

          <%= f.label :email %>
          <%= f.email_field :email , class: 'form-control'%>

          <%= f.label :password %>
          <%= f.password_field :password , class: 'form-control'%>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation , class: 'form-control'%>

          <%= f.submit "Create my account", class: "btn btn-primary" %>
        <% end %>
        </div>
  </div>
</section>
</div>
